html {
	@include primary-copy-font;
	color: $base-text-color;
	font-size: 14px;
	font-weight: 300;
	line-height: normal;
}

h1,
h2,
h3 {
	font-weight: 500;
}

a {
	color: $royal_blue;
}

a,
button {
	transition: all 0.4s;
}

@function vw($val, $base: 1920) {
	@return calc($val / $base) * 100vw;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}
