@font-face {
  font-weight: 200;
  font-style: normal;
  font-family: "FiraSans";

  src: url("../fonts/FiraSans-ExtraLight/FiraSans-ExtraLight.woff2") format("woff2");
  src: url("../fonts/FiraSans-ExtraLight/FiraSans-ExtraLight.eot")
      format("embedded-opentype"),
    url("../fonts/FiraSans-ExtraLight/FiraSans-ExtraLight.otf") format("otf"),
    url("../fonts/FiraSans-ExtraLight/FiraSans-ExtraLight.svg") format("svg"),
    url("../fonts/FiraSans-ExtraLight/FiraSans-ExtraLight.ttf") format("truetype"),
    url("../fonts/FiraSans-ExtraLight/FiraSans-ExtraLight.woff") format("woff");
}

