// Color names - http://chir.ag/projects/name-that-color/

$black: #000000;
$white: #ffffff;
$link_water: #F4F5FC;
$royal_blue: #5A61ED;
$torch_red: #FF2222;
$god_gray: #111111;
$boulder: #7C7C7C;

// Body
$base-text-color: $god_gray;
$secondary-text-color: $white;
