.title-block-line {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px 0;

  &__subtitle {
    position: relative;
    font-size: 22px;
    letter-spacing: 7.33px;
    opacity: 0.5;
    transform: translateX(10px);

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -105px;
      width: 80px;
      height: 1px;
      background: $white;
      opacity: 0.5;
    }
  }

  &__title {
    font-size: 40px;
    font-weight: 800;

    & span {
      font-weight: 300;
      padding: 0 10px;
    }
  }

  &--flip {
    align-items: start;

    .title-block-line__subtitle {
      transform: translateX(0);

      &::before {
        left: auto;
        right: -105px;
      }
    }
  }

  &--header {
    .title-block-line__title {
      font-size: 80px;
    }
  }
}
