.btn {
  @include secondary-copy-font;
  font-weight: 400;
  outline: none;
  border: none;
  background: $royal_blue;
  color: $secondary-text-color;
  padding: 7px 25px;
  cursor: pointer;

  &:hover,
  &:focus-within {
    opacity: 0.7;
  }
}