.content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  padding: 39px 21px 32px;
  background: $white;

  &--background-image {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
      width: 307px;
      height: 355px;
      // width: calc((307/100)*20%);
      // height: calc((355/100)*20%);
      background: url('../images/icon-bg.svg')no-repeat;
      background-position: center;
    }
  }

  &__message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 11px;
    height: 100%;
  }
  
  &__block-title {
    flex-grow: 1;
    z-index: 10;
  }

  &__title {
    font-size: 22px;
  }

  &__text {
  }
}


