.content {
	display: flex;
	flex-direction: column;
	justify-content: end;
	width: 100%;
	padding: 39px 21px 32px;
	background: $white;

	@include phone-and-less {
		padding: 29px 11px 22px;
		align-items: normal;
	}

	&--background-image {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: 1;
			width: 307px;
			height: 355px;
			background: url("../images/icon-bg.svg") no-repeat;
			background-position: center;

			@include tablet-and-less {
				width: calc((307 / 100) * 20%);
				height: calc((355 / 100) * 20%);
				background-position: bottom;
			}
		}
	}

	&__message {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 11px;
		height: 100%;
		margin-left: 43px;

		@include tablet-and-less {
			margin: 0;
			align-items: center;
		}
	}

	&__block-title {
		z-index: 10;
	}

	&__title {
		font-size: 22px;
	}
}
