.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 13px;
  
	&__inner {
    display: flex;
    gap: 4px;
	}

	&__btn {
		font-weight: 500;

		&:hover {
			opacity: 0.7;
		}
	}
}
