.form {
	height: 100%;
	z-index: 10;

	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 13.5px;
		padding: 20px 0;

		@include tablet-and-less {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		display: grid;

		&--correct {
			position: relative;

			&::after {
				content: "";
				position: absolute;
				right: 0;
				bottom: 10px;
				z-index: 15;
				width: 11px;
				height: 8px;
				background: url("../images/correct.svg") no-repeat;
				background-position: center;
			}
		}
	}

	&__name-input {
		font-size: 12px;
	}

	&__input {
		border: none;
		border-radius: 0;
		background: none;
		border-bottom: 0.7px solid $boulder;
		font-weight: 400;
		padding: 5px 12px 6.33px 0;
		cursor: pointer;
		position: relative;

		&:focus {
			outline: none;
			box-shadow: 0px 5px 15px rgba($boulder, 0.5);
		}

		&--not-validated {
			border-bottom: 2px solid $torch_red;
			color: $torch_red;
		}
	}

	&__inner-date {
		display: grid;
		grid-template-columns: 56px 3fr 2fr;
		gap: 9.8px;

		@include phone-and-less {
			grid-template-columns: 1fr;
		}
	}

	&__label-gender {
		margin-left: 18px;
		position: relative;
		cursor: pointer;
		padding: 5px 12px 6.33px 0;

		&::before {
			content: "";
			position: absolute;
			left: -18px;
			top: 50%;
			transform: translateY(-50%);
			width: 12px;
			height: 12px;
			border-radius: 50%;
			border: 0.7px solid $royal_blue;
		}

		&::after {
			content: "";
			position: absolute;
			left: -15px;
			top: 50%;
			transform: translateY(-50%);
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background: $royal_blue;
			display: none;
		}
	}

	&__inner-inputs-radio {
		display: flex;
		align-items: center;
		font-weight: 400;
		gap: 19px;

		& input:checked + .form__label-gender::after {
			display: block;
		}

		& input {
			&:hover::before,
			&:focus-within::before {
				border: 2px solid red;
			}
		}
	}

	&__btn {
		&.error {
			animation: animateButton 0.8s ease-in-out;

			@keyframes animateButton {
				0% {
					transform: translateX(5px);
				}
				25% {
					transform: translateX(-5px);
				}
				50% {
					transform: translateX(5px);
				}
				75% {
					transform: translateX(-5px);
				}
			}
		}
	}
}

#male:focus + label[for="male"] {
	box-shadow: 0px 5px 15px rgba($boulder, 0.5);
}

#female:focus + label[for="female"] {
	box-shadow: 0px 5px 15px rgba($boulder, 0.5);
}
