.form {
	height: 100%;
	z-index: 10;

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 13.5px;
		padding: 20px 0;

		@include tablet-and-less {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		display: grid;
	}

	&__name-input {
		font-size: 12px;
	}

	&__input {
		border: none;
		border-radius: 0;
		background: none;
		border-bottom: 0.7px solid $boulder;
		font-weight: 400;
		padding: 5px 12px 6.33px 0;
		cursor: pointer;
		position: relative;

		&:focus {
			outline: none;
			box-shadow: 0px 5px 15px rgba($boulder, 0.5);
		}
	}

	&__label-gender {
		margin-left: 18px;
		position: relative;
		cursor: pointer;

		&::before {
			content: "";
			position: absolute;
			left: -18px;
			top: 50%;
			transform: translateY(-50%);
			width: 12px;
			height: 12px;
			border-radius: 50%;
			border: 0.7px solid $royal_blue;
		}

		&::after {
			content: "";
			position: absolute;
			left: -15px;
			top: 50%;
			transform: translateY(-50%);
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background: $royal_blue;
			display: none;
		}
	}

	&__inner-inputs-radio {
		display: flex;
		align-items: center;
		font-weight: 400;
		gap: 19px;

		& input:checked + .form__label-gender::after {
			display: block;
		}

		& input {
			&:hover::before,
			&:focus-within::before {
				border: 2px solid red;
			}
		}
	}
}
