.header {
	background: $royal_blue;
	display: flex;
	justify-content: end;
	width: 173.2px;
	padding: 22px 6px;

	@include phone-and-less {
		width: auto;
	}

	&__title {
		@include secondary-copy-font;
		color: $secondary-text-color;
		font-size: 49px;
		font-weight: 300;
		writing-mode: vertical-lr;
		transform: rotate(180deg);
	}
}
