html {
  @include primary-copy-font;
  color: $base-text-color;
  font-weight: normal;
  line-height: normal;
  text-transform: uppercase;
}

@function vw($val, $base: 1920) {
  @return calc($val / $base) * 100vw;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
